poetry.lock
.ipynb_checkpoints/Untitled-checkpoint.ipynb
__pycache__/data_preparation_attempt4.cpython-311.pyc
__pycache__/data_preparation_utils.cpython-311.pyc
db_settings.ini
EDA_backup.rar
env_backup.rar
